*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.col-lg-12 {
    padding: 0 !important;
}
.container {
    max-width: 73.75rem !important;
    margin: 0 auto !important;
    overflow: auto !important;
    padding: 0 0rem !important;
}
.container-fluid {
    max-width: 73.75rem !important;
    margin: 0 auto !important;
    overflow: visible !important;
    padding: 0 !important;
}

.navbar-nav {
    margin-left: auto !important;
    margin-right: 0 !important;
}
.nav-link {
    text-decoration: none!important;
    color: #000 !important;
}
.nav-link:hover {
    color: #1cbbb4 !important;
}
.nav-link:active {
    color: #D7176F;
}
.dropdown-item:hover {
    color: #000 !important;
    background-color: rgba(28, 187, 180, 0.15) !important;
}
li {
    margin: 0px 5px !important;
    font-family: 'Montserrat', 'sans-serif' !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #D7176F !important;
    border: none !important;
    border-radius: 40px !important;
    font-family: 'Montserrat', 'sans-serif' !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    width: 9.375rem !important;
    height: 2.5rem !important;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
}

.bg-white {
    background-color: #fff !important;
}

.bg-image {
    background-image: url(/images/Teen_Group.png);
    background-repeat: none !important;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 100%;
}

.overlay {
    background-color: rgba(28, 187, 180, 0.85) !important;
    padding: 5rem 0rem;
    max-width: 100%;
}
.spacer {
    height: 590px;
    max-width: 100%;
}
.jumbotron {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}

.display-4 {
    font-family: 'Montserrat', 'sans-serif' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 3.5rem !important;
    text-align: center !important;
    color: #fff !important;
    margin-bottom: 0 !important;
}

.row {
    margin: 0 !important;
}

.work-content {
    padding: 30px 0px 84px 0px;
}
.work-copy {
    padding: 20px 16px;
}
.youtube {
    padding: 32px 0px 25px;
    width: 100%;
}

.work-copy p {
    font-family: 'Lato' 'sans-serif';
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    font-style: normal;

}
.work-bold {
    font-family: 'Lato' 'sans-serif';
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    font-style: normal;

}
.work-button {
    padding: 25px 80px;
    text-align: center;
}
.wk-btn {
    
    color: #fff !important;
    background-color: #D7176F !important;
    border: none !important;
    border-radius: 40px !important;
    font-family: 'Montserrat', 'sans-serif' !important;
    font-weight: 600 !important;
    font-size: 1.125rem !important;
    letter-spacing: 0.03125rem;
    padding: 17px 70px;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
}

.work-image {
    padding: 25px 0px 17px;
}

.line-break {
    width: 100%;
    padding: 40px 0px !important;
}
.line {
    width: 100%;
    border: 1px solid #a2a2a2;
}
.sect-headline {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding: 10px 16px !important;
}
.sect-subhead {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding: 10px 16px 20px!important;
}
.sect-copy {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.prg-bc {
    max-width: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
}
.prg-copy {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
text-align: center;
}

.prg-cards {
    padding: 25px 0px 40px !important;
}

.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 187, 180, 0.35);
    padding: 20px 20px;
    border-radius: 0.25rem;
}
.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 213, 225, 0.5);
    padding: 20px 20px;
    border-radius: 0.25rem;
}
.card-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(215, 23, 111, 0.35);
    padding: 20px 20px;
    border-radius: 0.25rem;
}
.card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 166, 26, 0.35);
    padding: 20px 20px;
    border-radius: 0.25rem;
}
.card-icon {
    height: 70px;
}
.card-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding: 20px 0px 10px;
}
.card-copy {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.prg-btn-container {
    margin: 0 auto !important;
    padding-bottom: 25px !important;
}
.prg-btn {
    background: #D7176F;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 20px 80px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #fff;
}
.contact-btn {
    background: #D7176F;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 20px 126px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.3s ease;
}
.contact-btn:hover {
    transform: scale(0.95);
    background-color: #fff;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
    border: 2px solid #D7176F;
    color: #D7176F;
}
.contact-btn:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.75);
    border: none !important;
    background-color: #fff;
    color: #1cbbb4;
}
.contact-btn:focus {
    outline: 0 !important;
}

.options {
    padding: 0 auto !important;
    margin-bottom: 50px;
}
.option-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.option-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.opt-copy {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 16px;
}
.opt-btn {
    background: #D7176F;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 20px 106px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-top: 10px;
}
.sec-btn {
    background: #fff;
    border: 2px solid #D7176F;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 20px 88px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #D7176F;
    margin-top: 10px;
}

.bkg-color {
    background-color: #D7176F;
    max-width: 100%;
}
.footer {
    background-color: #D7176F;
}

.footer-info {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}
.footer-link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.footer-link:hover {
    color: #000;
    text-decoration: none;
}

.links {
    list-style: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-right: 75px;
    color: #fff;
}
.links li:not(:last-child) {
    margin-bottom: 24px !important;
}
.social-links {
    display: flex;
    flex-direction: column;
}
.social-copy {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
}
.social-icons ul {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    color: #fff;
}
.social-icons li {
    list-style: none;
}
.social-icons li:not(:last-child) {
    padding-right: 20px !important;
}
.copyright {
    padding: 40px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}
.form-layout {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 200px!important;
}
.top-row {
    padding-bottom: 20px !important;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto !important;
    justify-content: center;
    align-items: center;
    padding-top: 0 !important;
}
.firstname {
    padding-right: 20px!important;
}
.lastname {
    padding-left: 0px!important;
}
.drop-1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto 40px !important;
}
.drop-2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto 40px !important;
}
.textarea {
    display: flex;
    flex-direction: column;
    margin: 0 auto 40px !important;
}
.form-label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 12px !important;
    padding-bottom: 5px !important;
    margin: 0!important;
    color: #a2a2a2;
}

.custom-select {
    color: #D7176F !important;
    font-family: 'Lato' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;
}

.form-label-spec {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-left: 12px !important;
    padding-top: 10px!important;
    margin: 0!important;
    color: #a2a2a2;
}

.required-label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 12px !important;
    padding-bottom: 5px !important;
    margin: 0!important;
    color: #a2a2a2;
}
.required-label:after {
    content:"*" !important;
    color: #D7176F !important;

}

.required-drop {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-left: 12px !important;
    padding-top: 10px!important;
    margin: 0!important;
    color: #000;
}
.required-drop:after {
    content:"*" !important;
    color: #D7176F !important;

}
.dropdown-copy {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-left: 12px !important;
    padding-top: 10px!important;
    margin: 0!important;
    color: #000;
}

.dropdown-1 {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-right: 1em;
    min-height: 38px;
    max-height: 38px;
    overflow: hidden;
    top: 5px;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: #495057;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
    transition: 0.3s all ease-in-out;
  }
  .dropdown-1 input:focus + label {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }
  .dropdown-1 input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
  }
  .dropdown-1 label {
    display: block;
    height: 38px;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 3em;
    padding-top: 0.125em;
    cursor: pointer;
    position: relative;
    transition: 0.3s color ease-in-out;
    margin-bottom: 0 !important;
  }
  .dropdown-1 label:nth-child(2) {
    margin-top: 2em;

  }
  .dropdown-1 input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .dropdown-1 input:checked + label:nth-child(2) {
    margin-top: 0;
    position: relative;
  }
  .dropdown-1::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: 5px solid #ced4da;
    border-color: #000 transparent transparent transparent;
    transition: 0.4s all ease-in-out;
  }
  .dropdown-1.expanded {
    border: 1px solid #ced4da;
    background: #fff;
    border-radius: 0.25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height: 15em;
  }

  .dropdown-1.expanded label:hover {
    color: #D7176F;
  }
  .dropdown-1.expanded input:checked + label {
    color: #D7176F;
  }

  .dropdown-1.expanded::after {
    transform: rotate(-180deg);
    top: 0.55em;
  }/*# sourceMappingURL=custom.css.map */


  .bootstrap-select .bs-ok-default::after {
    width: 0.3em !important;
    height: 0.6em !important;
    border-width: 0 0.1em 0.1em 0 !important;
    transform: rotate(45deg) translateY(0.5rem) !important;
}

.dropdown-toggle-x {
    border: 1px solid #ced4da !important;
    color: #000 !important;
}
.bs-placeholder {
    content: "Select Program(s)" !important;
}

.avatar-img {
    margin: 0 auto!important;
}

.sub-btn {
    background: #D7176F;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 20px 80px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-bottom: 300px!important;
    transition: all 0.3s ease;
}
.sub-btn:hover {
    transform: scale(0.95);
    background-color: #fff;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
    border: 2px solid #D7176F;
    color: #D7176F;
}
.sub-btn:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.75);
    border: none !important;
    background-color: #fff;
    color: #1cbbb4;
}
.sub-btn:focus {
    outline: 0 !important;
}